@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    min-width: 400px;
    min-height: 800px;
}


.container {
    display: grid;
    grid-template-areas: "header" "body" "footer";
    grid-template-rows: 1fr 8fr 1fr;
}

header {
    grid-area: header;
    background-color: #005A9B;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0,0,0, 0.3);
    z-index: 1;
}

#menu-button {
    padding-left: 5vw;
    align-self: center;
    cursor: pointer;
}

header img {
    max-width: 70px;
}

header h2 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding-right: 5vw;
    align-self: center;
}

main {
    grid-area: body;
    height: 80vh;
}

footer {
    grid-area: footer;
    background-color: #005A9B;
    display: flex;
    justify-content: space-between;
}

footer img {
    height: 9vh;
    transform: translate(-5vw, -3.8vh);
    cursor: pointer;
}

footer h2 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding-left: 5vw;
    align-self: center;
}

.list {
    display: grid;
    grid-template-rows: 1fr 9fr;
    height: 90vh;
}

.listHeader {
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 100vw));

    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: #D9D9D9;
    box-shadow: 0 2px 5px rgba(0,0,0, 0.3);
}

.listHeader p {
    font-weight: bold;
}

.listBody {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(50px, 5vh));
    grid-auto-rows: minmax(50px, 5vh);
    justify-content: center;
    overflow-y: auto;
}

.listElement {
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 100vw));
    justify-items: center;
    align-items: center;
    border-bottom: 0.2vh solid black;
    cursor: pointer;
}


@media screen and (min-width: 900px) {

    #menu-button {
        padding-left: 3vw;
    }

    .listHeader {
        grid-template-columns: repeat(3, minmax(50px, 20vw));
    }

    .listElement {
        grid-template-columns: repeat(3, minmax(50px, 20vw));
    }

    header img {
        max-width: 80px;
    }
}
