@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: grid;
    grid-template-areas: "header" "body" "footer";
    grid-template-rows: 1fr 8fr 1fr;
}

header {
    grid-area: header;
    background-color: #005A9B;
    display: flex;
    justify-content: space-between;
}

#menu-button {
    padding-left: 5vw;
    align-self: center;
    cursor: pointer;
}

header h2 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding-right: 5vw;
    align-self: center;
}

main {
    grid-area: body;
    height: 80vh;
}

footer {
    grid-area: footer;
    background-color: #005A9B;
    display: flex;
    justify-content: space-between;
}

footer img {
    height: 9vh;
    transform: translate(-5vw, -3.8vh);
    cursor: pointer;
}

footer h2 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding-left: 5vw;
    align-self: center;
}

.list {
    display: grid;
    grid-template-rows: 1fr 9fr;
    height: 90vh;
}

.listHeader {
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 100vw));

    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: #D9D9D9;
    box-shadow: 0 2px 5px rgba(0,0,0, 0.3);
}

.listHeader p {
    font-weight: bold;
}

.listBody {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(50px, 5vh));
    grid-auto-rows: minmax(50px, 5vh);
    justify-content: center;
    overflow-y: auto;
}

.listElement {
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 100vw));
    justify-items: center;
    align-items: center;
    border-bottom: 0.2vh solid black;
    cursor: pointer;
}

.sideMenu {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: #005A9B;
    z-index: 4;

    display: grid;
    grid-gap: 2vh;
    grid-template-rows: repeat(auto-fit, 5vh);
    justify-content: center;
    align-content: center;


    border-right: 0.15vw solid black;
    box-shadow: 0 3px 5px 100vw rgba(0, 0, 0, 0.3);

    transition: all 0.5s;
}

.sideMenu header {
    position: fixed;
    top: 2vh;
    left: 2vw;
}

.field{
    font-size: 3vh;
    font-weight: bold;
    color: white;
    z-index: 5;
}

.backButton {
    cursor: pointer;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.usersMenu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;

    z-index: 4;
    background-color: white;

    display: grid;
    grid-template-rows: 10vh 90vh;
    grid-template-areas: "userMenuHeader" "userMenuBody";

    border-left: 0.15vw solid black;
    box-shadow: 0 3px 5px 100vw rgba(0, 0, 0, 0.3);

    transition: all 0.5s;
}


.usersMenu header {
    grid-area: userMenuHeader;
    display: flex;
    justify-content: space-between;
}

#user-list {
    grid-area: userMenuBody;
}

#user-list .listHeader {

    grid-template-columns: repeat(2, minmax(50px, 100vw));
}

#user-list .listElement {
    grid-template-columns: repeat(2, minmax(50px, 100vw));
}

@media screen and (min-width: 900px) {

    #menu-button {
        padding-left: 3vw;
    }
    .listHeader {
        grid-template-columns: repeat(3, minmax(50px, 20vw));
    }

    .listElement {
        grid-template-columns: repeat(3, minmax(50px, 20vw));
    }

    header img {
        max-width: 3vw;
    }

    .sideMenu {
        width: 30vw;
    }

    .usersMenu {
        width: 30vw;
    }

    .l {
        left: -30vw;
    }

    .r {
        right: -30vw;
    }

    .hidden {
        opacity: 0;
    }
}
