@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #005A9B;
}

p, h1 {
    color: white;
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-size: 4vh;
}

p {
    font-size: 3vh;
    font-weight: bold;
}

a {
    text-decoration: none;
}


.container {
    display: grid;
    grid-template-rows: 1fr 9fr;
    grid-template-areas: "header" "body";
    height: 100vh;
}

header {
    grid-area: header;
    display: grid;
    grid-template-areas: "title" "line";
}

header h1 {
    grid-area: title;
    align-self: center;
    justify-self: center;
}

.line {
    grid-area: line;
    background-color: white;
    height: 0.1vh;
    width: 90%;
    justify-self: center;
}

main {
    grid-area: body;
    align-self: center;
    justify-self: center;
}

.menu {
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-gap: 1vh;
    justify-items: center;
}

#opcaoCriar {
    grid-row: 1 / 2;
}

#opcaoEntrar {
    grid-row: 2 / 3;
}

#opcaoSobre {
    grid-row: 3 / 4;
}